.container {
    width: 1200px;
    margin: 0 auto;

}


.header {}

.navbar {}

.navbar-expand-lg {}

.bg-body-tertiary {}

.container-fluid {}

.navbar-brand {
    color: #6f00ff;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
}

.navbar-brand2 {
    color: #000000;
}

.navbar-toggler {}

.navbar-toggler-icon {}

.collapse {}

.navbar-collapse {}

.navbar-nav {}

.nav-link {
    color: #a600ff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

}

.nav-link:hover,
.nav-link:focus {
    color: #460769;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.disableded {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    color: #a50101;
    background-color: #f69191;
    border-radius: 10%;
}

.disableded:hover,
.disableded:focus {
    color: #ff0000;
    background-color: #eedddd;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero */

.hero {
    padding-top: 100px;
    height: 700px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;

}

.hero__text {
    text-align: center;
    padding-top: 100px;
    color: #FFF;
    text-align: start;
    font-family: Roboto;
    font-size: 24.021px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    justify-content: center;
    margin: 0 auto;

}

/* card */
.cards__section {
padding-top: 94px;
padding-bottom: 94px;
}
.cards__section-title {
    padding-bottom: 94px;
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.cards{
        display: flex; /* Включаем Flexbox для контейнера */
    justify-content: space-between; /* Размещаем элементы с равным расстоянием между ними */
}
.col {

}


/*  goods */
.order__section {

        padding-top: 100px;
        height: 400px;
    
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/order.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.order__section-title {
    color: #ffffff;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    padding-bottom: 52px;
}

.order__section-button {
    display: block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: #7800b9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    border: 1px solid #910ed8;
}
.order__section-button:hover,
.order__section-button:focus {

    background-color: #460769;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 250px;
    height: 60px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}